@font-face {
  font-family: 'poppins-regular';
  src: url('/style/fonts/Poppins/Poppins-Regular.woff') format('woff');
}

@font-face {
  font-family: 'poppins-semi-bold';
  src: url('/style/fonts/Poppins/Poppins-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'poppins-extra-bold';
  src: url('/style/fonts/Poppins/Poppins-ExtraBold.woff') format('woff');
}

body {
  font-family: poppins-regular;
  background-color: #050505;
  color: white;
  background-image: url("https://www.maxpixel.net/static/photo/1x/Seamless-Pattern-Pattern-Vector-Pattern-Seamless-6106662.png");
  background-color: rgba(0,0,0,.92);
  background-blend-mode: multiply;
  padding-bottom: 20px;
  padding-left: 15px;
}

img {
  height: 400px;
  border-radius: 30px;
  border: 3px solid #B8BCBB;
}

figure {
  margin: 0px;
}

figcaption {
  font-size: 10px;
  color: #B8BCBB;
}

strong {
  font-family: poppins-semi-bold;
  color: #D3D3D3;
  text-decoration: underline;
}

h2, h3 {
  font-family: poppins-extra-bold;
  color: #F1C40F;
}

/* The default link */
a:link {
  color: #F1C40F;
}

/* When the link has been visited */
a:visited {
  color: #AF8300;
}

/* When the mouse is hovering over the link */
a:hover {
  color: #FFD940;
}

/* When the link is clicked */
a:active {
  color: #FFEE0A;
}

/* Assignment table */
#assignments {
  border-collapse: collapse;
  border-radius: 10px;
  border-style: hidden;
  box-shadow: 0 0 0 2px #B8BCBB;
}

#assignments th {
  color: #FFD940;
}

#assignments td, #assignments th {
  border: 1px solid #B8BCBB;
  padding: 6px;
  text-align: center;
}
